*{
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: none;
}

h1{
    color: #EAE2B7;
    font-size: 400%;
    font-weight: 200;
    text-transform: uppercase;
}
.container{
    text-align: center;
    flex-direction:column;

}
.Dice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    padding: 20px;
    margin-top: 10px;

}


p{
    font-size:200% ;
    color: bisque;
    text-transform: uppercase;
}
body{
    background: linear-gradient(to bottom,#0f2027,#203a43,#052432);
    color: #ffffff;
    font-family: "Special Elite", serif;
    font-style:normal;
    overflow:inherit;

}

marquee{
    margin-top: 10rem;
    color:#b0c9cd;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.img1:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1,1) rotate(5deg);
}

.img2:hover{
    transition: transform 0.3s ease-in-out;
    transform: rotate(-5deg);
}
.btn{
    justify-content: center;
    align-items: center;
    text-align: justify;
    background: linear-gradient(45deg,#ff4b2b,#ff416c);
    border: none;
    text-transform: uppercase;
    font-family:monospace;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 15px 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 5px 15px rgba(255,65,108,0.5);
    margin-top: 30px;
    width: 6rem;
    height: 5rem;
    border-radius: 15px;
    text-align:justify;
}

.btn:hover{
    background: linear-gradient(45deg,#ff416c,#ff4b2b);
    transform: scale(1.1);
    box-shadow: 0px 8px 20px rgba(255, 65, 108, 0.7);
}

.btn:active{
    transform: scale(0.95);

}

.img1,.img2{
    width:15rem ;
    height: 13rem;
    border-radius: 20px;  
}


@media (max-width:768px) {
    h1{
        font-size: 200%;
    }

    p{
        font-size: 150%;
    }
    .container{
        flex-direction: column;
    }

    .img1,.img2{
        width: 10rem;
        height: 12rem;
    }

    
    .Dice{
        gap:30px;
    }

    .btn{
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        height: 5rem;
        width: 5rem;
        font-size: 150%;
        text-align: center;
    }
}


